@import url('https://fonts.googleapis.com/css?family=Ubuntu|Lora');
@import url('https://fonts.googleapis.com/css?family=ABeeZee' );
body{
  background-color:rgb(15, 192, 223);
  font-family: 'ABeeZee';
  font-family: 'Alexandria';
  
}

.d-block{
  width: 100%;
  height: 300px;
}

.nav .list{
float: right;
}
.navbar{
  background:  rgb(15, 192, 223);
}

.nav ul li{

}

.nav a {
    
    float: left;
    color: rgb(241, 239, 237);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  
}

.nav a:hover{
    background-color: #ddd;
    color: black;
    border-radius: 5px;
}

@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
.nav ul{
    display:none;
}


}
/*  top sale template   */


.product{
   margin: 10px;
   background-color: black;
}

/* Banner Style */
.main-banner .container-fluid {
	padding: 0px 10px;
	margin-bottom: -24px;
}


 .item {
	position: relative;
}

 .item .item-content {
	position: absolute;
	bottom: 40px;
	left: 40px;
}

 .item .item-content .meta-category span {
	color: #f48840;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.25px;
}

 .item .item-content h4 {
	font-size: 20px;
	font-weight: 800;
	color: #fff;
	letter-spacing: 0.5px;
	text-transform: capitalize;
	margin: 10px 0px 12px 0px;
}

 .item .item-content ul li {
	display: inline-block;
	margin-right: 8px;
}

 .item .item-content ul li:after {
	content: '|';
	color: #fff;
	margin-left: 8px;
}

 .item .item-content ul li:last-child::after {
	display: none;
}

 .item .item-content ul li a {
	font-size: 14px;
	color: rgb(22, 21, 21);
	font-weight: 500;
	transition: all .3s;
}

 .item .item-content ul li a,a:hover {
	color: #f48840;
    text-decoration: none;
}
.new-img{
    height: 300px;
    opacity: 0.4;
}

.new-img:hover{

    opacity: 1;
}

.owl-banner .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
}

.owl-banner .owl-nav .owl-prev {
	position: absolute;
	left: 40px;
}

.owl-banner .owl-nav .owl-next {
	position: absolute;
	right: 40px;
}

.owl-banner .owl-nav button {
	outline: none;
}

.owl-banner .owl-nav button span {
	color: #fff;
	font-size: 36px;
	width: 60px;
	height: 60px;
	display: inline-block;
	text-align: center;
	line-height: 60px;
	background-color: rgba(250,250,250,0.3);
}

/*  top sale template   */
#top-sale .owl-carousel .item .product a {
    overflow: hidden;
  }
  #top-sale .owl-carousel .item .product img {
    transition: transform 0.5s ease;
  }
  #top-sale .owl-carousel .item .product img:hover {
    transform: scale(1.1);
  }
  #top-sale .owl-carousel .owl-nav button {
    position: absolute;
    top: 30%;
    outline: none;
  }
  #top-sale .owl-carousel .owl-nav button.owl-prev {
    left: 0;
  }
  #top-sale .owl-carousel .owl-nav button.owl-prev span,
  #top-sale .owl-carousel .owl-nav button.owl-next span {
    font-size: 35px;
    color: #003859;
    padding: 0 1rem;
  }
  #top-sale .owl-carousel .owl-nav button.owl-prev span {
    margin-left: -4rem;
  }
  #top-sale .owl-carousel .owl-nav button.owl-next {
    right: 0;
  }
  #top-sale .owl-carousel .owl-nav button.owl-next span {
    margin-right: -4rem;
  }
  @media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
.owl-next ,.owl-prev{
    display:none;
}
}

 .ads1 img{
    width: 100%;
    height: 200px;
 }
  
 /*   Special Price Section Template */
#special-price .grid .grid-item {
  margin-right: 1.2rem;
  margin-top: 1rem;
}
.grid-item{
  width: 200px;
 
} 

.sproduct{
  position: relative;
}

.grid{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

@media (max-width:400px){
.grid{
  grid-template-columns: auto auto ;
}
}

@media (max-width:360px){
  .grid{
      display: grid;
    grid-template-columns: auto auto;
  }
  }
 
  .heading-title {
      margin-bottom: 100px;
  }
  .text-center {
      text-align: center;
  }
  .heading-title h3 {
      margin-bottom: 0;
      letter-spacing: 2px;
      font-weight: normal;
  }
  .p-top-30 {
      padding-top: 30px;
  }
  .half-txt {
      width: 60%;
      margin: 0 auto;
      display: inline-block;
      line-height: 25px;
      color: #7e7e7e;
  }
  .text-uppercase {
      text-transform: uppercase;
  }
  
  .team-member, .team-member .team-img {
      position: relative;
  }
  .team-member {
      overflow: hidden;
  }
  .team-member, .team-member .team-img {
      position: relative;
  }
  
  .team-hover {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 0;
      border: 20px solid rgba(0, 0, 0, 0.1);
      background-color: rgba(255, 255, 255, 0.90);
      opacity: 0;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
  }
  .team-member:hover .team-hover .desk {
      top: 35%;
  }
  .team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
      opacity: 1;
  }
  .team-hover .desk {
      position: absolute;
      top: 0%;
      width: 100%;
      opacity: 0;
      -webkit-transform: translateY(-55%);
      -ms-transform: translateY(-55%);
      transform: translateY(-55%);
      -webkit-transition: all 0.3s 0.2s;
      transition: all 0.3s 0.2s;
      padding: 0 20px;
  }
  .desk, .desk h4, .team-hover .s-link a {
      text-align: center;
      color: #222;
  }
  .team-member:hover .team-hover .s-link {
      bottom: 10%;
  }
  .team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
      opacity: 1;
  }
  .team-hover .s-link {
      position: absolute;
      bottom: 0;
      width: 100%;
      opacity: 0;
      text-align: center;
      -webkit-transform: translateY(45%);
      -ms-transform: translateY(45%);
      transform: translateY(45%);
      -webkit-transition: all 0.3s 0.2s;
      transition: all 0.3s 0.2s;
      font-size: 35px;
  }
  .desk, .desk h4, .team-hover .s-link a {
      text-align: center;
      color: #222;
  }
  .team-member .s-link a {
      margin: 0 10px;
      color: #333;
      font-size: 16px;
  }
  .team-title {
      position: static;
      padding: 20px 0;
      display: inline-block;
      letter-spacing: 2px;
      width: 100%;
  }
  .team-title h5 {
      margin-bottom: 0px;
      display: block;
      text-transform: uppercase;
  }
  .team-title span {
      font-size: 12px;
      text-transform: uppercase;
      color: #a5a5a5;
      letter-spacing: 1px;
  }

  .team-img img{
    width: 300px;
  }


  /*blogs*/
  .card-title img{
    width: 200px;
    height: 100px;
  }


  /*Css new_details*/
  .flex-box{
   background-color: #333;
  }

  @media (max-width:480px){
    .flex-box{
      display: none;
    }
    }
    
